{{ define "main" }}
{{ range $i, $e:= .Params.realisations }}
  <section class="section-sm {{ if (modBool $i 2) }}bg-gradient{{ end }}">
    <div class="container">
      <div class="row items-center justify-between">
        <div
          class="{{ if not (modBool $i 2) }}
            md:order-1
          {{ end }} md:col-7 lg:col-6">
          <h2 class="mb-4 text-primary">
            {{ .title | markdownify }}
          </h2>
         <!-- <p class="mb-8 text-lg">
            {{ .content | markdownify }}
          </p>-->
          <p class="mb-4">{{ .paragraph | markdownify  }}</p>
          <h6 class="mb-4">Challenge:</h6>
          <p>{{ .challenge | markdownify  }}</p>
          <h6 class="mb-4 mt-4">Réalisations:</h6>
          <ul>
            {{ range .realisations_bulletpoints }}
              <li class="relative mb-4 pl-6">
                <i class="fa fa-check absolute left-0 top-1.5"></i>
                {{ . | markdownify }}
              </li>
            {{ end }}
          </ul>
          <h6 class="mb-4">Technologies:</h6>
          <p>{{ .technologies | markdownify  }}</p>
        </div>
        <div
          class="mb:md-0 {{ if not (modBool $i 2) }}
            md:order-2
          {{ end }} md:col-5 mb-6">
          {{ partial "image" (dict "Src" .image "Alt" "feature image" "DisplayXL" "520x" "DisplayLG" "425x" "DisplayMD" "360x") }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
{{ end }}
